@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.navBar {
  background-color: white;
}
.navBar ul li a {
  color: rgb(40, 40, 40);
  font-size: 1em;
  list-style: none;
}
.navBar ul li a:hover {
  color: #ff39b3;
}
.navBar img {
  width: 50%;
  margin: 0 0 0 10px;
}

.paragraphFullWidth {
  margin: 20px;
  padding: 20px;
  text-align: justify;
  color: rgb(40, 40, 40);
  font-size: 1em;
}
.paragraphFullWidth h1 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 600;
}

button {
  background-color: #ff39b3;
  margin-bottom: 1.2em;
  color: white;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 13px 25px 0 rgba(0, 0, 0, 0.19);
}

.cardText {
  color: rgb(40, 40, 40);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardText h3 {
  padding: 0.7em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3em;
  padding: 2empx;
}
.grid-container article {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
}
.flex-container article {
  width: auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 0;
}
.flex-container article p {
  padding: 0 10px 0 10px;
}
.flex-container article img {
  width: 90%;
}

.contactForm {
  margin: 1em 5em;
}
.contactForm .fields {
  padding: 1em 0;
}

.mvv {
  padding: 1em 3em;
}
.mvv h2 {
  padding-top: 1em;
}
.mvv .acordeon {
  padding: 1em;
  text-decoration-color: rgb(40, 40, 40);
}

.footer {
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 1px black;
}
.footer .row {
  padding: 2em 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer ul {
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
}
.footer ul li {
  text-decoration: none;
  list-style: none;
}
.footer ul li a {
  color: 100;
  font-size: 1em;
  text-decoration: none;
}
.footer ul li a:hover {
  color: #ff39b3;
}
.footer img {
  width: 30px;
  margin: 0 0 0 10px;
}

.rightBox {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  justify-content: right;
  align-items: center;
}

.leftBox {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  justify-content: left;
  align-items: center;
}

/* object fit cover */
main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fot-1 {
  grid-area: fota;
}

.fot-2 {
  grid-area: fotb;
}

.fot-3 {
  grid-area: fotc;
}

.fot-4 {
  grid-area: fotd;
}

.fot-5 {
  grid-area: fote;
}

.fot-6 {
  grid-area: fotf;
}

#galeria {
  display: grid;
  gap: 0.7em;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 300px);
  grid-template-areas: "fota" "fotb" "fotc" "fotd" "fote" "fotf";
}
#galeria img:hover {
  filter: grayscale(0.9);
}

@media (width > 768px) {
  #galeria {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 400px);
    grid-template-areas: "fota fotb" "fota fotc" "fota fotd" "fote fotf";
  }
}
@media (width > 1200px) {
  #galeria {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 30vh);
    grid-template-areas: "fota fotb fotc" "fota fotd fotc" "fota fote fotf";
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
