
/* selector universal */


.grid-container{
    width: auto;    
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    padding: 10px;
  }

  .grid-container > article {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 0;
  }

  .grid-container > article > h2 {
    margin: 1%;
    padding: 10px;
  }

  .grid-container > article > p {
    margin: 1%;
    padding: 10px;
  }

  .grid-container > article > img {
    width: max-content;  
    }









