// animaciones generales

.transform:hover{
    transform: translate(-50px, - 20px);
    transition: all 1s;
    cursor: pointer;
}

.scale:hover{
    transform: scale(0.9);
    transition: all 1s;
    transform: scale(1.1);
    transition: all 1s;
    cursor: pointer;
}

@keyframes animatedDiv{

}

.animated{

}

@keyframes animatedHeader {
    0%{background-image: url(../img/headers/slide_working_at_home1.png)};
    25%{background-image: url(../img/headers/slide_working_at_home2.png)};
    50%{background-image: url(../img/headers/slide_working_at_home3.png)};
    75%{background-image: url(../img/headers/slide_working_at_home4.png)};
}

.header-animated{

    animation-name: animatedHeader;
    animation-duration: 15s;
    animation-iteration-count: infinite;


}