//Estilos comunes a todas las paginas

*{
    box-sizing: border-box;
}

//imagen header

.imgWeb{
    display: flex;  
}  
.imgMobile{
    display: none;
}

.button{
    background-color:map-get($map: $paleta, $key: 'mainColor');
    margin-bottom: 1.2em;
    color: map-get($map: $paleta, $key:'whiteColor' );
    border: none;
    border-radius: 8px;
    padding: 0.6em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
        &:hover {
            box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24), 0 13px 25px 0 rgba(0,0,0,0.19);
        }

}

.paragraphFullWidth{
 @include principalTextBox;
}

.textsHome{
    @extend .paragraphFullWidth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{ width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        }   
    
}
.texts{
    @extend .paragraphFullWidth;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        p{ width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
            }   
}

button{
    background-color: map-get($map: $paleta, $key:'mainColor');
    margin-bottom: 1.2em;
    color:map-get($map: $paleta, $key:'whiteColor');
    border: none;
    border-radius: 8px;
    padding: 0.6em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
        &:hover {
            box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24), 0 13px 25px 0 rgba(0,0,0,0.19);
        }
}

.cardText{
 color:map-get($map: $paleta, $key: 'mainTextColor');
 text-align: center;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    h3{
        padding: .7em;
    }
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3em;
    padding: 2empx;
    article{
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px 0;
    }
  }

  .flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
    article{
        width: auto;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px 0;
        p{
            padding: 0 10px 0 10px;
        }
        img{
            width: 90%;
        }
       
    }
  }
.contactForm{
    margin: 1em 5em;
    .form{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input{
            font-size: 0.8em;
            width: 250px;
        }
        button {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: map-get($map: $paleta, $key:'mainColor' );
            margin-bottom: 1.2em;
            color: map-get($map: $paleta, $key: 'whiteColor');
            border: none;
            border-radius: 8px;
            padding: 0.6em 1.5em;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
                &:hover {
                    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24), 0 13px 25px 0 rgba(0,0,0,0.19);
                }
        }
    }
    .fields{
        padding: 1em 0;
    }
   
}

.mvv{
    padding: 1em 3em;
    h2{
        padding-top: 1em;
    }    
    .acordeon{
        padding: 1em;
        text-decoration-color:map-get($map: $paleta, $key:'mainTextColor' );
    }
}

.container{
    padding: .5em;
    button {
        background-color:map-get($map: $paleta, $key:'mainColor' );
        margin-bottom: 1.2em;
        color: map-get($map: $paleta, $key: 'whiteColor');
        border: none;
        border-radius: 8px;
        padding: 0.6em 1.5em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
            &:hover {
                box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24), 0 13px 25px 0 rgba(0,0,0,0.19);
            }
    }
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input{
            width: 250px;
            font-size: 0.8em;
        }
        button {
            background-color:map-get($map: $paleta, $key: 'mainColor');
            margin-bottom: 1.2em;
            color: map-get($map: $paleta, $key:'whiteColor' );
            border: none;
            border-radius: 8px;
            padding: 0.6em 1.5em;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
                &:hover {
                    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24), 0 13px 25px 0 rgba(0,0,0,0.19);
                }
        }
    }
    div{
        padding: 1em;
    };
    
}

//evaluar
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        .pregunta{
            margin: 1em;
            padding: 1em;
            
        }
        .bgGray{
            background-color: map-get($map: $paleta, $key: 'bgGrayColor');
        }
}

//error404
.error404{
@extend .container;
    img{
        width: 30%;
    }
    p{
        text-align: center;
    }
    button{
        margin-bottom: 50px;
    } 

}