.footer{
    background-color: map-get($map: $paleta, $key: 'keyColor');
    width:100%;
    display: flex;
    align-items:center;
    margin-top: 30px;
    border: solid 1px  map-get($map: $paleta, $key: 'mainTextColor');
    .row{
        padding: 2em 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
   }

    ul{
        display: flex;
        flex-direction: column;
        justify-content:right;
        text-align: right;
        li{
            text-decoration: none;
            list-style: none;
            a{
                color: $fontLight;
                font-size: $textMd;
                text-decoration: none;
                &:hover{
                    color: map-get($map: $paleta, $key:'secondaryTextColor' );
                }
            }
        }
    }
    img {
        width: 30px;
        margin: 0 0 0 10px;
    }
}

.rightBox{
    display: flex;
    flex-direction: row;
    padding-left: 1em;
    justify-content: right;
    align-items: center;
}

.leftBox{
    display: flex;
    flex-direction: row;
    padding-left: 1em;
    justify-content: left;
    align-items: center;
}
