//background
.navBar{
    background-color: map-get($map: $paleta, $key: 'whiteColor');
    ul{
        li{

            a{
                color: map-get($map: $paleta, $key:'mainTextColor' );
                font-size: $textMd;
                list-style: none;
                &:hover{
                    color: map-get($map: $paleta, $key:'secondaryTextColor' );
                }
            }
        }
    }
    img {
        width: 50%;
        margin: 0 0 0 10px;
    }

    .navbar-toggler{

        border: none !important;
        &:focus{
            box-shadow: none !important;
        }
    }
}
