//background
.navBar{
    background-color: $whiteColor;
    height: 5em;
    ul{
        li{

            a{
                color: $mainTextColor;
                font-size: $textMd;
                list-style: none;
                &:hover{
                    color: $secondaryTextColor;
                }
            }
        }
    }
    img {
        width: 50%;
        margin: 0 0 0 10px;
    }
}
