//global vars

//Colors map
$paleta:(

  'mainColor': #ff39b3,
  'secondaryColor': rgb(128 128 128),
  'keyColor': rgb(40, 40, 40),
  'whiteColor': white,
  'mainTextColor':  rgb(40, 40, 40),
  'ligthTextColor':  rgb(255, 255, 255),
  'darkTextColor': black,
  'secondaryTextColor':#ff39b3,
  'bgGrayColor':rgb(236, 236, 236),
  );

//Fonts
$mainFont: 'Roboto', sans-serif;

//Font Sizing
$textSm: .8em;
$textMd: 1em;
$textLg: 2em;
$textXl: 3em;

//Font weight
$fontLight: 100;
$fontRegular: 400;
$fontBold: 600;


.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

