
/* object fit cover */
main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.fot-1{
    grid-area: fota;
}

.fot-2{
   grid-area: fotb;
}

.fot-3{
    grid-area: fotc;
}

.fot-4{
    grid-area: fotd;
}

.fot-5{
    grid-area: fote;
}

.fot-6{
    grid-area: fotf;
}

#galeria{
    display: grid;
    gap: .7em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,300px);
    grid-template-areas: 
    "fota" 
    "fotb" 
    "fotc"
    "fotd"
    "fote"
    "fotf";
    img:hover{
        filter: grayscale(0.9);
    }
}


@media (width > 768px){
    #galeria{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3,400px);
        grid-template-areas: 
        "fota fotb"
        "fota fotc"
        "fota fotd"
        "fote fotf";
    }
}

@media (width > 1200px){
    #galeria{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(2,30vh);
        grid-template-areas: 
        "fota fotb fotc"
        "fota fotd fotc" 
        "fota fote fotf";
    }
}