//imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import "_vars";
@import "_nav";
@import "_commons";
@import "_footer";
@import "_videos";
@import "_animations";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
