@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* selector universal */
*{
    font-family: 'Roboto', sans-serif;
    /* reset */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}


nav{
    display: block;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: auto;
    /*position - static - relative - absolute - fixed - sticky*/
    position: sticky;
}
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
      }
      li {
        float: right;
        list-style-type: none;
      }
      
      li a {
        display: block;
        color: gray;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #ff39b3;
        color: white;
      }

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
    text-align: center;
    
}

.container h1{
    width: 100%;
    padding: 1%;
}

.grid-container{
    width: auto;    
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    padding: 10px;
  }

  .grid-container > article {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 0;
  }

  .grid-container > article > h2 {
    margin: 1%;
    padding: 10px;
  }

  .grid-container > article > p {
    margin: 1%;
    padding: 10px;
  }

  .grid-container > article > img {
    width: max-content;  
    }

h1{
    color: #ff39b3;
    font-weight: 800;
    font-size: 2.7rem; /* 1em es aprox 16px */
    line-height: 2.7rem;
    text-align: center;
}

h2{
    color: gray;
    font-weight: 400;
    font-size: 2rem; /* 1em es aprox 16px */
    line-height: 2.4rem;
    text-align: center;
}

p{
    color: gray;
    font-weight: 100;
    font-size: 1.2rem;  /* 1em es aprox 16px */
    line-height: 2rem;
}

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

a{
    text-decoration: none;
}

a:hover{
    color: #ff39b3; 
     }  

button {
    background-color: #ff39b3; /* Gray */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  button:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 13px 40px 0 rgba(0,0,0,0.19);
  }

  footer{
    display: block;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: auto;
    position: sticky;
    margin: 20px;
    padding: 20px;
  }

/* inicia css para evaluar.html */
.cuestionario{ /* seccion cuestionario */
    display: block;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(232, 232, 232);
    height: auto;
    position: sticky;
    margin: 20px;
    padding: 20px;
}

.linea{ /*cada linea del cuestionario*/
    display: grid;
    align-items: center;
    justify-content: center;
    height: auto;
    position: sticky;
    margin: 20px;
    padding: 20px;
}
/* finaliza css para evaluar.html */

/* inicia css para login.html */
form{ /*  formulario de contacto */
    display: block;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(232, 232, 232);
    height: auto;
    position: sticky;
    margin: 20px;
    padding: 20px;
}

.linea{ /*cada linea del cuestionario*/
    display: grid;
    align-items: center;
    justify-content: center;
    height: auto;
    position: sticky;
    margin: 20px;
    padding: 20px;
}
/* finaliza css para login.html */

/* inicia css para nosotros.html */
.videos{ /*  videos */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center ;
    height: auto;
    position: sticky;
    margin: 20px;
    padding: 20px;
}
/* finaliza css para nosotros.html */
